@import 'vars';
@import'mixin';

// this is Nesting.....................
.wrapper-section {
    padding: 100px;
    margin: 0;
    box-sizing: border-box;
    background: rebeccapurple;
    border: 10px dotted rgb(0, 255, 242);
    background: $text-colour;

    .heading-frist {
        text-align: center;
        font-size: 34px;
        font-weight: 800;
        background: rgb(51, 153, 136);
        padding: 4rem;
        color: #fff;
        border: 5px solid $borderColor;
    }
    .heading-second  {
        text-align: center;
        font-size: 34px;
        font-weight: 800;
        background: rgb(51, 153, 90);
        padding: 3rem;
        color: #fff;
        border: 4px solid $borderColor;
    }
    .heading-3 {
        @include important-text ;
    }
}